name: Autochecker

# Run every day at 2AM
on:
  schedule:
    - cron: "0 2 * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: src
      - uses: actions/checkout@v2
        with:
          ref: data
          path: data
      - name: Run script
        id: checker
        run: ./src/CheckModuleData.ps1
        env: # Or as an environment variable
          M365_USERNAME: ${{ secrets.M365_USERNAME }}
          M365_PASSWORD: ${{ secrets.M365_PASSWORD }}
      - name: Commit changes
        run: |
          cd data
          git add .
          git config --global user.name 'Robert Dyjas'
          git config --global user.email '15113729+robdy@users.noreply.github.com'
          git commit -am "Data update"
          git push
